@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@400;700&display=swap');
@import './menu.css';
@import './index-section2.css';

:root {
    --primary-color: rgba(1, 24, 50, 0.75);
    --secondary-color: rgba(1, 48, 102, 0.75);
    --overlay-color: rgba(24, 39, 1, 0.85);
    --primary-font: 'Anek Malayalam', sans-serif;
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family:var(--primary-font);
    line-height: 1.4;
    cursor: default;
}

h1 {
    margin: 0;
}

/* *********** Socials tab styling **************** */


.socials {
    position: fixed;
    right: 15px;
    top: 150px;
    z-index: 1;
}

.socials-tab {
    display: flex;
    flex-direction: column;
}

.socials-tab li {
    margin: 0.2rem 0;
}

.socials-tab li img {
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    margin: 0;
    padding: 0;
    width: 50px;
}

.socials-tab li img:hover {
    box-shadow: 1px 1px 10px 2px #fff;
    cursor: pointer;
}


/* ---- Burger Menu ---- */

.burger-container {
    max-width: 960px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: auto;
}

.showcase {
    background-color:var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
    /* display: flex; */
}

.showcase-right-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 7rem;
    width: 100%;
    animation-name: slideinright;
    animation-duration: 2s;
}

@keyframes slideinright {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.showcase:before {
    content: '';
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    text-align: center;
    height: 100%;
}

.showcase h1 {
    font-size: 4rem;
    line-height: 5rem;
    margin-top: 2rem;
}

.showcase p {
    font-size: 1.3rem;
    margin: 0.5rem;

}

.showcase .btn {
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 1s ease-in;
}

.showcase .btn:hover {
    opacity: 0.7;
}

header {
    background-color: rgba(26, 58, 93, 0.75);
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 2;
}

.header {
    height: 100%;
}

.header-title {
    position: relative;
}

.dn ul {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.dn li a {
    padding: 1rem 0;
    position: relative;
}

.dn li a:after {
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.dn li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.dn li a,
#desktop-name-title {
    color: rgb(190, 190, 190);
}


.header-logo {
    display: none;
    align-items: center;
}

.mobile-profile-img {
    position: relative;
    margin: 0;
    align-items: center;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255,0.3);
    margin-top: 3rem;
    width: 75%;
}

.mobile-profile-img:hover {
    box-shadow: 0.5px 0.5px 5px 2px;
}

.mobile-img-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 2rem;
    animation-duration: 2s;
    animation-name: slideinleft;
}

@keyframes slideinleft {
    from {
        transform: translatex(-100%);
    }
    to {
        transform: translatex(0);
    }
}

/* media queries */

@media only screen and (max-width: 1024px){

    header {
        position: relative;
    }

    .header-title {
        display: none;
    }

    .dn {
        display: none;
    }

    .header-logo {
        display: block;
    }

    .burger-container {
        display: block;
        width: 100%;
        margin: 0;
        height: 20vh;
        margin: 0 auto;
    }

    .mobile-profile-img {
        width: 45%;
    }

    .mobile-img-div {
        margin: auto;
    }

    .showcase h1 {
        margin-top: 0;
        font-size: 3rem;
    }

    .showcase p {
        margin-top: 0;
        font-size: 1.2rem;
    }

    .showcase-right-col {
        margin-top: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
}
