.showcase2 {
    display: flex;
    justify-content: space-around;
    background-color:var(--primary-color);
    color: #fff;
    height: 120vh;
    padding: 2rem;
}

#about-me-h1 {
    margin-top: 0;
    /* padding-top: 100px; */
    font-size: 4rem;
    line-height: 5rem;
    display: inline-block;
    border-bottom: 2px solid #fff;
}

.section2-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section2-header h2 {
    text-decoration: underline;

    line-height: 5.5rem;
    font-size: 2rem;
}

.tech-stacks-styling2 {
    display: inline-block;
    color: rgb(255, 255, 255,0.8);
}

.section2-header ul {
    margin-top: 2rem;
}

.section2-header li {
    line-height: 2.5rem;
    color: rgb(255, 255, 255, 0.5);
}

.section2-body {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    padding-top: 100px;
    width: 50%;
}

.section2-body p {
    line-height: 2.4rem;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1024px) {

    .showcase2 {
        flex-direction: column-reverse;
    }
    .section2-body {
        width: 100%;
    }

    .section2-body p {
        font-size: 0.9rem;
    }
}
